@{
    ViewData["Title"] = "Home Page";
}

<div class="jumbotron">
    <h1>Welcome to Logic Grid Puzzle!</h1>
    <p>
        <a asp-area="" asp-controller="Puzzle" asp-action="Index" class="btn btn-primary btn-lg" role="button">Solve a Puzzle</a>
    </p>
</div>
